#scrolly {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  padding: 1rem;
  flex-direction: row-reverse;

}

article {
  position: relative;
  max-width: 20rem;
  margin-left: 50px;
}

@media screen and (max-width: 600px) {
  article {
    position: relative;
    max-width: 8rem;
    margin-left: 0;
  }
}

figure {
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  margin: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

figure p {
  text-align: center;
  padding: 1rem;
  position: absolute;
  top: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 8rem;
  font-weight: 900;
  color: #fff;
}

.step {
  font-family: 'zhengwen';
  margin: 0 auto 2rem auto;
  color: #000000;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 0.8em;
  line-height: 180%;
  padding: 2em;
  pointer-events: none;
  box-shadow: 0px 0px 8px 3px #bcbcbc;
}

@media screen and (max-width: 600px) {
  .step {
    line-height: 1.5em;
    margin: auto;
    padding: 0.5em;
  }
}

.invisible {
  visibility: hidden;
}

.step:last-child {
  margin-bottom: 0;
}

.step.is-active {
  background-color: rgba(255, 255, 255, 0.5);
  color: #000000;
}

.lable {
  font-family: 'zhengwen';
}